<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASHFOTOGRAFY</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="/" class="logo">FLASHFOTOGRAFY</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/login">Administrar</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/destacados">Productos</a></li>
            <li>Toma las mejores fotos en tiempo real</li>
          </ul>
        </nav>
      </div>
    </header>

<div class="slider">
  <ul>
   
  </ul>
</div>


  <div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="https://venezuela.solutekla.com/photo/1/canon/camaras/camara_canon_eos_rebel_t7i_con_lente_de_18135mm/camara_canon_eos_rebel_t7i_con_lente_de_18135mm_0001" class="circulo">
        <h2>Modelo canon</h2>
      </div>
      <div class="container-imagen">
        <img src="https://http2.mlstatic.com/D_NQ_NP_764217-MLV44174852463_112020-O.webp" class="circulo">
        <h2>Modelo semi profesional</h2>
      </div>
      <div class="container-imagen">
        <img src="https://i.pinimg.com/736x/ca/95/63/ca9563fe708b08c6e199f5dc8c9eade7.jpg" class="circulo">
        <h2>MOdelo profesional</h2>
      </div>
    </div>

    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE FLASHFOTOGRAFY</h2>
        <p>Aqui encontraras la mayor variedad de camaras de excelente calidad.</p>
      </div>
      <div class="columna2">
        <img src="https://m.media-amazon.com/images/I/41W+4LPTY9L._SR290,290_.jpg" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, todos los derechos reservados <a href="/view">FLASHFOTOGRAFY</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                          <li><a href="/login">Administrar</a></li>
                          <li><a href="/nosotros">Nosotros</a></li>
                          <li><a href="/sesion"> Iniciar sesion</a></li>
                          <li><a href="/client">Registrarse</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
</body>
</html>